/* #region MAINPAGE */

/* #region body */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

p,
li {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  max-width: 65ch;

}

h1 {
  font-family: "Faculty Glyphic", sans-serif;
  font-size: clamp(2.5rem, 4vw, 3.5rem);
  letter-spacing: 1.5px;
  line-height: 1.3;
}

h2 {
  font-family: "Faculty Glyphic", sans-serif;
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.8px;
}

h3 {
  font-family: "Faculty Glyphic", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.8px;
}

h4 {
  font-family: "Manrope", sans-serif;
  font-size: 1.2rem;
}

strong {
  font-family: "Manrope", sans-serif;
  letter-spacing: 0.4px;
}

/* #endregion */

/* #region header */

.container-header {
  min-height: 100vh;
  padding: 5rem 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #283618;
  
  background-image: url("images/left-brace.svg");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 400px
}

.header-columns {
  display: flex;
  flex-direction: row;
  gap: 12rem;
}

.container-header h1 {
  color: #DDA15E;
}

.container-header p,
.container-header h4,
.container-header li,
.container-header strong {
  color: #FEFAE0;
}
/* vanha linkki, voi poistaa kun on varma ettei tarvii 
.container-header a {
  font-family: "Manrope";
  font-weight: 500;
  background-color: #FEFAE0;
  border-radius: 6px;
  padding: 16px 32px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.container-header a:link {
  color: #283618;
  text-decoration: none;
}

.container-header a:visited {
  color: #606C38;
  text-decoration: none;
}

.container-header a:hover {
  color: #DDA15E;
  text-decoration: none;
}

.container-header a:active {
  color: #BC6C25;
  text-decoration: none;
}
  */

.animation1 {
animation: slide-up 1.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes slide-up {
  from {
    transform: translateY(100vh);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animation2 {
animation: slide-up2 2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes slide-up2 {
  from {
    transform: translateY(200vh);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animation3 {
  opacity: 0;
  transform: translateX(100vw);

  animation: slide-in 2s cubic-bezier(0.22, 1, 0.36, 1) forwards;
  animation-delay: 1.5s;

  font-size: 13vh;
}

@keyframes slide-in {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}



/* #endregion */

/* #region main */

.container-main {
  border-top: 5px dashed #DDA15E;
  padding: 5rem 10% 10rem;
  display: flex;
  flex-direction: column;
  gap: 6rem;

  background-color: #283618;
  position: relative;

  background-image: url("images/code-decoration.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 120%;
}

.code-fade-green {
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to right,
        #283618 0%,
        #283618 60%,
        #28361800 95%
      );
    pointer-events: none;
}

.container-main h1,
.container-main .course-card {
    position: relative;
    z-index: 1;
}

.container-main h1 {
  color: #DDA15E;
  margin-bottom: 0;
}

.course-card {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  max-width: clamp(40ch, 70vw, 80ch);
  padding: 2rem;
  
  border: 1px solid #606C3833;
  border-radius: 16px;

  background: #606C380D;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow:
    0 8px 30px rgb(0 0 0 / 0.08),
    inset 0 1px 1px rgb(255 255 255 / 0.5);

  transition: transform 0.2s ease;
}

.course-card:hover{
  transform: scale(1.03);
}

.course-card h2 {
  color: #DDA15E;
  margin: 1rem 0 0rem;

}

.course-card p,
.course-card strong,
.course-card li,
.course-card a {
  color: #FEFAE0;
}

.two-columns {
  display: flex;
  flex-direction: row;
  gap: 8rem;
}

.two-columns p {
  margin: 0;
}

a:link {
  color: #FEFAE0;
  text-decoration: underline;
}

a:visited {
  color: #606C38;
  text-decoration: underline;
}

a:hover {
  color: #DDA15E;
  text-decoration: underline;
}

a:active {
  color: #BC6C25;
  text-decoration: underline;
}


/* #endregion */

/* #region reflection */

.section-reflection {
  min-height: 90vh;
  padding: 5rem 10%;
  color: #283618;
  background-color: #FEFAE0;
  /* HTML-elementin ankkurointi parent-elementtiin */
  position: relative;
  overflow: hidden;
}

 /* HTML-elementti */
.section-reflection::before {
  content: "</html>";
  position: absolute;

  /* sijainti */
  right: -10%;
  bottom: -12%;

  /* koko */
  font-size: clamp(8rem, 20vw, 20rem);
  font-weight: 700;

  /* ulkoasu */
  color: #DDA15E;
  font-family: "Faculty Glyphic";

  /* ei vaikuta sisältöön */
  pointer-events: none;
  user-select: none;

  /* estää koristeen vaikuttamasta layoutiin */
  z-index: 0;
}

.section-reflection>* {
  position: relative;
  z-index: 1;
}

.three-columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 4rem;
}

.section-reflection h4 {
  color: #283618;
}

/* #endregion */

/* #region footer */

.footer {
  height: clamp(20vh, 30vw, 40vw);
  padding: 5rem 10%;
  text-align: center;
  background-color: #DDA15E;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  position: relative;

  background-image: url("images/orange-code-decoration.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: clamp(300px, 35vw, 600px) auto;
}

.color-fade-orange {
  position: absolute;
  inset: 0;

  background: linear-gradient(
    to left,
    #DDA15E 0%,
    #DDA15E 70%,
    #DDA15E00 95%
  );

  pointer-events: none;
}

.footer h3,
.footer .container-buttons {
  position: relative;
  z-index: 1;
}

.footer h3 {
  margin-top: 0;
  font-size: clamp(1.2rem, 3vw, 2.5rem);
  color:#FEFAE0;
}

.container-buttons {
  display: flex;
  justify-content: center;
  gap: 6rem;
}

.container-buttons a {
  position: relative;
  padding: 16px 32px;
  flex: 1 0 0;
  font-family: "Manrope";
  font-weight: 700;
  color:#BC6C25;
  background-color: #FEFAE0;
  box-shadow: 2px 2px 3px #BC6C25;
  text-decoration: none;
  border-radius: 6px;
  cursor: pointer;
  overflow: hidden;
  z-index: 0;
}

/* Oranssi tausta */
.container-buttons a::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #BC6C25;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: transform 0.4s ease;
  z-index: -1;
}

/* Hover: oranssi pyyhkäisee alhaalta ylös */
.container-buttons a:hover::before {
  transform: scaleY(1);
}

/* Tekstin väri hoverissa */
.container-buttons a:hover {
  color: #FEFAE0;
}

/* Napsahdus painettaessa */
.container-buttons a:active {
  transform: scale(0.94);
  transition: transform 0.05s;
  box-shadow: 0.5px 0.5px 3px #BC6C25;
}

/* #endregion */

/* #endregion */


/* #region SUBPAGE */

/* #region body */

.body-subpage {
  background-color: #283618;
}

.body-subpage h1,
.body-subpage h2,
.body-subpage h3 {
  color: #DDA15E
}

.body-subpage h4,
.body-subpage p,
.body-subpage strong {
  color: #FEFAE0;
}

.body-subpage th {
  font-family: "Manrope";
  font-weight: 600;
  color: #FEFAE0;
}

.body-subpage td {
  font-family: "Manrope";
  font-weight: 300;
  color: #222;
}


/* #endregion */

/* #region header */

.header-subpage {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  padding: 3rem 10%;
}


.header-subpage a {
  font-family: "Manrope";
  font-weight: 500;
  background-color: #FEFAE0;
  border-radius: 30px;
  padding: 16px 32px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.header-subpage a:link {
  color: #283618;
  text-decoration: none;
}

.header-subpage a:visited {
  color: #606C38;
  text-decoration: none;
}

.header-subpage a:hover {
  color: #DDA15E;
  text-decoration: none;
}

.header-subpage a:active {
  color: #BC6C25;
  text-decoration: none;
}

/* #endregion */

/* #region useful links */

.links-subpage {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 20vh;
  padding: 3rem 10%;
}

.container-links-subpage {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.card {
  flex: 1;
  height: 180px;
  perspective: 1000px;
  font-family: "Manrope";
  font-weight: 500;
}

/* Kortin pyörivä osa */
.card-inner {
  position: relative;
  width: 100%;
  height: 100%;

  transition: transform 0.5s ease;
  transform-style: preserve-3d;

  box-shadow: 0 2px 6px #2222224D;
  border-radius: 6px;
}

/* Pyöräytys */
.card:hover .card-inner {
  transform: rotateY(180deg);
}

/* Etu- ja takapuolen yhteiset tyylit */
.card-front,
.card-back {
  position: absolute;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 32px;
  border-radius: 6px;

  backface-visibility: hidden;
}

/* Etupuoli */
.card-front {
  background: #FEFAE0;
  color: #222222;
  font-size: larger;
  text-decoration: none;
}

/* Takapuoli */
.card-back {
  background: #FEFAE0;
  color: #222222;
  text-align: center;

  transform: rotateY(180deg);
}

.card p,
.card a {
  color:#283618;
  text-decoration: none;
}

/*
.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 32px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex: 1;
  background: #FEFAE0;
  font-family: "Manrope";
  font-weight: 500;
  border-radius: 6px;

  box-shadow: 0 2px 6px #2222224D;
  
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.03);
  transform: translateY(-2px);
  box-shadow: 0 5px 12px #222222;
}

.card a {
  font-size: larger;
}

.card p {
  color: #222222;
}
*/

/* #endregion */

/* #region main */

.main-subpage {
  margin-bottom: 5vw;
}

.container-table-section {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  min-height: 20vh;
  padding: 3rem 10%;
}

.container-table-section h2 {
  margin-bottom: 0rem;
}

.container-table-plus-aside {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

aside {
  max-width: 40ch;
  flex: 1
}

table {
  border-collapse: collapse;
  background-color: #FEFAE0;
  width: 100%;
  flex: 2
}

th,
td {
  border: 1px solid #222222;
  padding: 0.75rem;
}

th {
  background-color: #606C38;
}

tr {
  background-color: #FEFAE0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

.type-decoration {
  position: relative;
  overflow: visible;
}

.type-decoration::before {
  content: "type=\A”text”";
  white-space: pre;

  position: absolute;
  left: 50%;
  top: 20%;

  transform: translateX(0);

  font-size: clamp(8rem, 20vw, 25rem);
  font-weight: 700;
  color: #606C38;
  font-family: "Faculty Glyphic", sans-serif;

  pointer-events: none;
  user-select: none;
  z-index: 0;
}
.id-decoration {
  position: relative;
  overflow: visible;
}

.id-decoration::before {
  content: "#id";
  position: absolute;

  right: -5%;
  top: 50%;

  font-size: clamp(8rem, 20vw, 25rem);
  font-weight: 700;
  color: #606C38;
  font-family: "Faculty Glyphic", sans-serif;

  pointer-events: none;
  user-select: none;
  z-index: 0;
}

.container-table-section * {
  position: relative;
  z-index: 1;
}

/* #endregion */

/* #endregion */